<div class="w-64 h-screen bg-gray-900 text-white p-4 fixed">
    <h2 class="text-2xl font-bold mb-6">Concert Manager</h2>
    <ul>
      <li class="mb-4">
        <a routerLink="/bands" class="block p-2 hover:bg-gray-700 rounded">Group Musical</a>
      </li>
      <li>
        <a routerLink="/upload" class="block p-2 hover:bg-gray-700 rounded">Importer Group (Excel) </a>
      </li>
      <li class="mb-4">
        <a routerLink="/halls" class="block p-2 hover:bg-gray-700 rounded">Salles</a>
      </li>
      <li class="mb-4">
        <a routerLink="/concerts" class="block p-2 hover:bg-gray-700 rounded">Concerts</a>
      </li>
    </ul>
  </div>
  