<button (click)="openModal()" class="mb-4 bg-green-500 text-white px-4 py-2 rounded">Ajouter une salle</button>

<app-hall-modal *ngIf="showModal" [hallData]="selectedHall" (close)="closeModal()" (bandSaved)="refreshList()"></app-hall-modal>
<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Adress</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ville</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>

        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let hall of halls">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ hall.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ hall.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ hall.address }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ hall.city }}</td>
            <td>
                <button (click)="openModal(hall)" class="bg-blue-500 text-white px-2 py-1 rounded">Modifier</button>
              </td>
        </tr>
    </tbody>
</table>
